*{padding: 0; margin: 0; box-sizing: border-box;}
html,body{height: 100%;}

/* === PAGE ============================ */
.page{
    height: 100%;
    display: flex;  /* Better than grid in terms of synatx from html*/
    user-select: none;
}
@media (orientation: portrait) {.page {flex-direction: column;}}
@media (orientation: landscape) {.page {flex-direction: row;}}




/* === BANNER ========================== */
.banner{
    --padding: 1rem;
    width: var(--width);
    height: var(--height);
    padding: var(--padding);

    z-index: 10;
    background-color: var(--banner);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.6);
}
/* @media (orientation: portrait) {.banner {--height: 20vh;}} */
@media (orientation: landscape) {.banner {--width: 40vw;}}

@media (orientation: landscape) {
    /* Quick Fix */
    .banner {
        display: grid;
        align-items: center;
        justify-items: center;}
}



/* === SHELF ============================ */
.shelf{
    --padding: 1rem;
    padding: var(--padding);
    flex-grow: 1;
    overflow: scroll;
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--shelf-background);
}
@media (orientation: portrait) {.shelf {--padding: 2rem;}}
@media (orientation: landscape) {.shelf {--padding: 4rem;}}

.shelf::-webkit-scrollbar{display: none;}


/* === BANNER CONTENT ====================== */
.banner .content{
    /* background-color: rgba(255,255,255,0.1); */
    justify-self: center;
}

.banner .content .title{
    color: var(--banner-title-color);
    font-family: 'Anton';
    font-size: 2rem;
    
}

.banner .content .title.center{text-align: center;}

/* --- TABBAR */
/* Bug : Breaks for multiple tabbar */
.banner .content .tabbar{
    --num-tabs:2;
    font-family: 'Poppins';
    font-size: 1.1rem;
    display: grid;
    
}
@media (orientation: portrait) {
    .banner .content .tabbar {
        grid-template-columns: repeat(var(--num-tabs),1fr);
        /* gap: 1rem; */
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}
@media (orientation: landscape) {
    .banner .content .tabbar {
        grid-template-rows: repeat(var(--num-tabs),1fr);
        /* gap: 0.5rem; */
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}


.banner .content .tabbar.hide{display: none;}


/* --- TABS */
.banner .content .tabbar .tab{
    color: var(--tab-text-color);
    text-align: center;
    padding: 0.25rem;
    background-color: var(--tab-background-color);
    cursor: pointer;
}
@media (orientation: portrait) {
    .banner .content .tabbar .tab{
        position: relative;
        border-right: 1px solid var(--tab-separators);
    }
    .banner .content .tabbar .tab:first-child{
        border-radius: 10rem 0rem 0rem 10rem;
    }
    .banner .content .tabbar .tab:last-child{
        border-radius: 0rem 10rem 10rem 0rem;
        border-right: 0px;
    }
}
@media (orientation: landscape) {
    .banner .content .tabbar .tab{
        width: 15rem;
        justify-self: center;
        border-bottom: 1px solid var(--tab-separators);
    }
    .banner .content .tabbar .tab:first-child{
        border-radius: 1rem 1rem 0rem 0rem;
    }
    .banner .content .tabbar .tab:last-child{
        border-radius: 0rem 0rem 1rem 1rem;
        border-bottom: 0px;
    }
}




.banner .content .tabbar .tab.active{
    background-color: var(--tab-active-background);
}

.banner .content .tabbar .tab:not(.active):hover{
    background-color: var(--tab-hover-background);
}


/* --- Banner footer text */
.banner .content .footer{
    text-align: center;
    color: white;
    font-family: Poppins;
    font-size: 0.8rem;
}



/* === SHELF CONTENT ====================== */
.page .shelf .content{
        display: grid;  /* grid needed for two column layout*/
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 2rem;
        height: max-content;
        
}
@media (min-width:1400px) {.page .shelf .content{grid-template-columns: 1fr 1fr;}}


/* === CARDS*/
.card{
    --height:10rem;   /* Will be set by cards, disable for flexible*/
    --height:auto;   /* Will be set by cards, disable for flexible*/
    background-color: var(--card-background);
    height: var(--height);   /* Latter Modif*/
    border-radius: 1rem;

    flex-grow: 0;
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); */
    /* border: 1px solid rgba(0,0,0,0.1); */
}
@media (min-width:1400px) {.card.span2{grid-column: span 2;}}


/* -------------------------------------------------- section --- */
.card.section{
    --height:2rem;
    background-color: transparent;
    font-family: 'Anton';
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--card-section-color);
    /* background-color: red; */
}

/* -------------------------------------------------- text --- */
.card.text{
    --height: auto;
    background-color: transparent;
    font-family: 'Poppins';
    text-align: center;
    text-justify: distribute;
    font-size: 0.9rem;
    color: var(--card-text-color);
}

.card.text.center{text-align: center;}
.card.text.justify{text-align: justify;}


/* -------------------------------------------------- players --- */
.card.players{
    --height:4rem;
    height: var(--height);
    font-family: 'Poppins';
    color: var(--card-player-color);
    align-items: center;
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.card.players.single{--height: 3rem;}
.card.players.double{--height: 6rem;}

.card.players .name{
    text-align: left;
    margin-left: 2rem;
    /* background-color: red; */
    height: 3rem;
    line-height: 3rem;
}

.card.players.double .name:nth-child(1){
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

.card.players .icon{
    text-align: right;
    margin-right: 2rem;
    color:rgba(0,0,0,0.7)
}



/* -------------------------------------------------- game-category --- */
.card.game-category{
    --height:8rem;
    height: var(--height);
    font-family: 'Poppins';
    color: black;
    align-items: center;
    
    display: grid;
    padding: 2rem;
    grid-template-columns: 1fr 6rem;
    
}

.card.game-category .text .name{font-size: 1.5rem;}

.card.game-category .text .live{
    font-size: 0.8rem;
    color: green;
    font-weight: 600;
    background-color: rgba(0,255,0,0.2);
    padding: 0.05rem 1rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    letter-spacing: 0.1rem;
}

.card.game-category .text .live.hide{display: none;}

.card.game-category .icon{
    font-size: 4rem;
    text-align: center;
    color: rgba(0,0,0,0.6);
    letter-spacing: -3rem;
    justify-self: center;
}


a {
    text-decoration: none;
}

.card.game-category.single.men .icon::after{content: "\e4eb";}
.card.game-category.single.women .icon::after{content: "\e13e";}
.card.game-category.double.men .icon::before{content: "\e4eb";}
.card.game-category.double.men .icon::after{content: "\e4eb";}
.card.game-category.double.women .icon::before{content: "\e13e";}
.card.game-category.double.women .icon::after{content: "\e13e";}
.card.game-category.double.mix .icon::before{content: "\e4eb";}
.card.game-category.double.mix .icon::after{content: "\e13e";}


/*
.card.game-category.highlight{
    background-color: var(--banner);
    color: white;
}
.card.game-category.highlight .icon{color: rgba(255,255,255,0.8);}
*/



/* -------------------------------------------------- game-event --- */
/* .card.game-event.single{--height:10.8rem} */
/* .card.game-event.double{--height:10.8rem} */


.card.game-event{
    --height:10.8rem;
    font-family: 'Poppins';
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    color: rgba(0,0,0,0.8);

}

.card.game-event .schedule{
    height: 2rem;
    margin-bottom: 0.4rem;
    font-size: 1rem;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
} 
.card.game-event .schedule *:first-child{text-align: left;}
.card.game-event .schedule *:last-child{text-align: right;}

.card.game-event .schedule .match-no::before,
.card.game-event .schedule .date::before,
.card.game-event .schedule .time::before{
    font-family: 'Material Symbols Outlined';
    margin-right: 0.5rem;
    font-size: 1.3rem;
    position: relative;
    
}

/* .card.game-event .schedule .match-no::before{content: '\e8b5';} */
.card.game-event .schedule .date::before{content: '\ebcc';top:0.25rem;}
.card.game-event .schedule .time::before{content: '\e8b5';top:0.3rem;}


.card.game-event .result{
    height: 2rem;
    margin-top: 0.4rem;
    background-color: rgba(0,0,0,0.05);
    border-radius: 2rem;


    line-height: 2rem;
    text-align: center;
}



.card.game-event .team{
    flex-grow: 1;
    /* background-color: green; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card.game-event .team .left{
    /* background-color: red; */
    border-right: 1px solid rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: 1fr 3rem;
    
    
}

.card.game-event .team .right{
    /* background-color: yellow; */
    border-left: 1px solid rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: 3rem 1fr;
}

.card.game-event .team .left .score{margin-right: 0.2rem ;}
.card.game-event .team .right .score{margin-left: 0.2rem ;}


.card.game-event .team .score {
    font-family: 'Anton';
    font-size: 2rem;
    color: rgba(0,0,0,0.6);
    border-radius: 0.5rem;
    /* background-color: rgba(0,0,0,0.1); */

    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

}


.card.game-event .team .players{
    background-color: green;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* align-items: center; */

    position: relative;
}

.card.game-event .team .left .players{
    text-align: left;
    bottom: 0;
}

.card.game-event .team .right .players{
    text-align: right;
}

.card.game-event .team .players > *:first-child{
    bottom: 0;
    background-color: yellow;
}

.card.card.game-event .team .players *:first-child{
    position: relative;
}