.theme-light{
    --major:rgb(117, 0, 138);
    /* --minor:rgb(117, 0, 138); */

    /* Element specific : derived from above */
    --banner:var(--major);
    --banner-title:rgba(255,255,255,0.8);

    --wall:rgb(198, 107, 210);
    --card:rgb(220,220,220);
    
}


/*
.theme-dark{
    --banner-color:rgba(32,32,32);
    --btn-color:rgb(64,64,64);
}
*/